
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: white;
    width: 100vw;
}
header{
    background-color: rgb(196, 76, 156);
    padding: 20px;
    color: white;
    
}

header h1{
    font-size: 36px;
}

main{
    min-height: 78vh;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
main form{
    display: flex;
    justify-content: center;

}
form input[type="text"],button[type="submit"],.resultt div a{
border: none;
font-size: 16px;
font-weight: 500;
border-radius: 5px;
padding: 10px;
}


form input[type="text"]
{
flex-grow: 1;
}
form  button[type="submit"]{
    background-color: rgb(196, 76, 156);
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
footer{
    background-color: rgb(196, 76, 156);
color: white;
padding: 20px;
text-align: center;
font-size: 18px;
position: fixed;
width: 100%;
}

.result{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.result p{
  margin-top: 10px;  
}
.result p[class="partOfSpeech"]{
    font-style: italic;
    color: rgb(65, 60, 50);
    margin-top: 2px;
}
.result div{
    margin-top: 20px;
}
.result div a{
    text-decoration: none;
    background-color: rgb(196, 76, 156);
    color: white;
    padding: 10px;

}
.result li{
    padding: 4px;
    margin-left: 20px;
}

@media screen and (max-width:320px){
    main form{
      flex-direction: column;
    
    }
  form button[type="submit"]{
    margin-left: 0;
    margin-top:10px ;
  }

}